Checks: >-
  -*,
  bugprone-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-identifier-length,
  modernize-use-nullptr,
  modernize-use-override,
  cppcoreguidelines-owning-memory
WarningsAsErrors: ''
FormatStyle: file
CheckOptions:
  - key: readability-identifier-naming.NamespaceCase
    value: CamelCase
